.container {
  display: grid;
  grid-template-columns: 12.5% auto auto;
  grid-gap: 10px;
  padding: 0px 10px 0px 10px;
}
body { 
       background-color: #fefefe!important;
}
/*
sidebar
*/     
.sidebar {
	float: left;
	/*margin-right: -100%;*/
	max-width: 288px;
	position: relative;
	margin-left: 0.8rem;
}
.sidebar h2{
	margin-top: 2.8rem!important;
}
.content-area {
	margin-left: 4.8rem;
	width: 82%;
}


.main-navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidenote, .marginnote { margin-right: -58%!important;}

h2 { 
	margin-top: 1rem!important;
}

footer {
  	grid-column: col-start 1 / 3;
  	grid-row: 2;
}